<!DOCTYPE html>
<html lang="en" name="top">
{% include head.html %}
<body>
  <main>
    <div class="bg-slate-100 border-solid border-b-2 grid grid-cols-1 h-[100px] content-center">
      <div class="px-5 flex container justify-between text-3xl">
        <div class="grow">
          <img src="/assets/images/ayj_logo.png" alt="">
        </div>
        <a style="color: #000!important;" href="https://github.com/{{ site.apispecs.links.api_server }}">
          <i class="fa fa-github text-3xl"></i>
        </a>
      </div>
    </div>
    <div class="container mx-auto px-72 py-6 flex flex-row">
      <a href="{{ site.baseurl }}/" class="pr-4">go back</a>
    </div>
    <div class="min-h-screen container mx-auto px-72 py-12">
      <article class="prose prose-base prose-headings:font-normal max-w-full">
        {{ content }}
      </article>
    </div>
    {% include footer.html %}
  </main>
</body>
</html>